.Main_Conteiner{
    background-color: #52525291;
    width: 100%;
    min-height: 80vh;
    gap: 2rem;
    padding-bottom: 2rem;
}

.Main_Title{
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    font-family: Bowlby One SC;
}

.Main_CardsConteiner{
    padding: 0 10rem 0 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main_Cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

