.Card_Conteiner{
    display: flex;
    flex-direction: row;
    background-color: #ecebf3;
    border-radius: 0.5rem;
    box-shadow:#000000;
    padding: 1rem;
}

.Card_Items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Card_Items > h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.Card_Foto{
    height: 150px;
    margin-right: -60px
}

.Card_ConteinerButtons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.Card_ConteinerButtons > button{
 padding: 0.5rem;
 white-space: nowrap;
 border-radius: 0.4rem;
 cursor: pointer;
}

.Button_AddCart{
width: 100%;
background-color: brown;
}

.Button_Edit{
    width: 45%;
    background-color: aquamarine;
}

.Button_Remove{
    width: 45%;
    background-color: mediumvioletred;
}