.Header_Container {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #00b1d8;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.43);
}

.Header_LogoName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Header_LogoName > img {
  height: 10vh;
}

.Header_Icons {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;

}

.Header_Icons > img {
  height: 6vh;
}

.Header_Icons input{
  width: 30rem;
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.Button_Edition{
  padding: 1rem;
  border-radius: 2rem;
}