.Header_Container {
  display: flex;
  width: 100%;
  min-height: 10vh;
  background-color: #00b0d8cc;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px 5px 5px 0px #0000006e;
}

.Header_LogoName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #ffffff;
  color: #00b0d8;
  font-family: Bowlby One SC;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}

.Header_LogoName > img {
  height: 10vh;
  margin-right: -41px;
  z-index: 1;
}

.Header_LogoName > h2 {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 2px solid black;
  width: 13rem;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 15px 0 0;
  white-space: nowrap;
}

.Header_Icons {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.Header_Icons > img {
  height: 6vh;
  cursor: pointer;
}

.Header_Icons input {
  width: 30rem;
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: #ffffff;
}

.Button_Edition {
  padding: 1rem;
  border-radius: 2rem;
  border: solid #ffffff;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #00b0d8cc;
  cursor: pointer;
}

.Button_Edition:hover {
  background-color: #ffffff;
  color: #029abd;
  border-color: #029abd;
}

@media (max-width: 1280px) {
  .Header_Icons {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .Header_LogoName > img {
    margin-right: -32px;
  }

  .Header_Icons {
    width: 65%;
    gap: 2rem;
    justify-content: flex-start;
  }

  .Header_LogoName {
    width: 35%;
  }

  .Header_Icons input {
    width: 14rem;
  }
}

@media (max-width: 840px) {
  .Header_Container {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .Header_Icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .Header_LogoName > h2 {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .Header_LogoName {
    width: 50%;
  }
}

@media (max-width: 300px) {
  .Header_LogoName {
    width: 70%;
  }
}
