.Footer_Conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background-color: #00b1d8;
  box-shadow: 5px 5px -1px 0px #0000006e;
}

.Footer_Conteiner p {
  color: #ffffff;
  font-size: 1.5rem;
}

.Footer_Conteiner > div > a > img{
  width: 3rem;
  height: 2.8rem;
}

.Footer_Conteiner > div{
  display: flex;
  gap: 1rem;
}
