@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.modal-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #525252;
    border-radius: 10px;
    border: 7px solid #00b1d8;
    padding: 2.4rem;
    gap: 1rem;
}

.modal-container > input{
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 10px #00b0d883;
}

.modal-container > button {
  padding: 1rem;
  border-radius: 1rem;
  margin: auto;
  width: 30%;
  background-color: #00b1d8;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.modal-container > button:hover{
  color: #00b1d8;
  background-color: #ffffff;
}
